<style>
    .footer {
        text-align: center;
        margin-top: 50px; /* Adjust as needed */
        padding: 20px;
        background-color: #f2f2f2; /* Light grey background */
        border-top: 1px solid #ccc; /* Grey border on top */
    }

    .footer p {
        margin: 0; /* Remove default paragraph margin */
        font-size: 14px; /* Adjust font size as needed */
        color: #666; /* Dark grey text color */
    }

</style>


<div class="footer">
    <p>&copy; 2024 Kaitlyn Hong</p>
</div>
