body {
    background-color: #F3F3F3; /* Light grey */
    color: #1B3D6D; /* Dark blue */
    font-family: 'PT Serif', serif;
}
.container {
    padding-top: 50px;
}
.card {
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 30px;
}
.card-body {
    padding: 40px;
}
.title {
    color: #47763B; 
    font-size: 32px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
.section-title {
    color: #47763B; 
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
}
p {
    margin-bottom: 8px;
}
strong {
    font-weight: 600;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    color: #47763B; 
    margin-bottom: 30px;
    font-weight: 700;
}
